<?xml version="1.0"?>

<launch>
  <!-- start publishing transforms -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find side_x_side_stereo)/description/stereo.urdf.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- start rviz with custom vcg -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find side_x_side_stereo)/launch/stereo_camera.rviz" required="true">
  </node>
</launch>

