<?xml version="1.0"?>

<launch>

<arg name="namespace" default="stereo" />
<arg name="first_camera_name" default="left" />
<arg name="second_camera_name" default="right" />
<arg name="scale" default="1.0" />
<arg name="process_every_nth_frame" default="2" />
<arg name="stereo_params_camchain" default="$(find side_x_side_stereo)/calibration/2022-12-15-16-50-41-camchain.yaml"/>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video2" />
    <param name="camera_name" value="stereo" />
    <param name="image_width" value="2560" />
    <param name="image_height" value="960" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="stereo" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="30"/>
    <param name="autofocus" value="true"/>
  </node>
  
  <node name="stereo" pkg="side_x_side_stereo" type="side_x_side_stereo_node" output="screen" >
    <param name="input_image_topic" value="/usb_cam/image_raw" />
  </node>

<group ns="$(arg namespace)">

  <node name="stereo_undistort" pkg="image_undistort" type="stereo_undistort_node">
    <param name="input_camera_info_from_ros_params" value="false"/>
    <param name="first_camera_namespace" value="$(arg first_camera_name)"/>
    <param name="second_camera_namespace" value="$(arg second_camera_name)"/>
    <param name="scale" value="$(arg scale)"/>
    <param name="publish_tf" value="false"/>
    <param name="process_every_nth_frame" value="$(arg process_every_nth_frame)"/>
    
    <rosparam file="$(arg stereo_params_camchain)"/>

    <remap from="raw/first/image" to="$(arg first_camera_name)/image_raw"/>
    <remap from="raw/second/image" to="$(arg second_camera_name)/image_raw"/>
  </node>
</group>
</launch>
